mavenproject/src/main/app/mavenproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8088" doc:name="HTTP Listener Configuration"/>
    <flow name="mavenprojectFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/sample" doc:name="HTTP"/>
        <set-payload value="#[message.inboundProperties.'http.query.params'.['decisionKey']]" doc:name="Set Payload"/>
        <flow-ref name="decisionFlow" doc:name="decisionFlow"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.decisionVariable.equals('decision1')]">
                <set-payload value="#['Decision 1 was taken']" doc:name="Set Response Payload1"/>
            </when>
            <otherwise>
                <set-payload value="#['Decision 2 was taken']" doc:name="Set Response Payload2"/>
            </otherwise>
        </choice>
    </flow>
    <sub-flow name="decisionFlow">
    	<choice doc:name="Choice">
            <when expression="#['value1'.equals(payload)]">
                <flow-ref name="decision1Flow" doc:name="Flow Reference"/>
            </when>
            <otherwise>
                <flow-ref name="decision2Flow" doc:name="Flow Reference"/>
            </otherwise>
        </choice>
    </sub-flow>
    <sub-flow name="decision1Flow">
    	<set-variable variableName="decisionVariable" value="#['decision1']" doc:name="decision Variable1"/>
    </sub-flow>
    <sub-flow name="decision2Flow">
    	<set-variable variableName="decisionVariable" value="#['decision2']" doc:name="decision Variable 2"/>
    </sub-flow>
</mule>
